In [1]:
from datetime import date, timedelta

import pandas as pd
import shutil 
import os
from osgeo import gdal
from osgeo import ogr
from osgeo import osr
from osgeo import gdal_array
from osgeo import gdalconst

In [2]:
df = pd.read_csv('ISHB_input_file.csv')

In [9]:
df.dropna(subset='Sample Date', inplace=True)

In [10]:
print("The following fields contain null values:\n")
null_vals = df.isnull().sum().to_dict()
for field, count in null_vals.items():
    if count > 0:
        print(f"{field} : {count} | {df[field].dtype}")

The following fields contain null values:

GlobalID : 17 | object
CITY : 4 | object
HOST_LATIN_NAME : 84 | object
HOST_COMMON_NAME : 60 | object
REPRODUCTIVE_HOST : 89 | object
Diameter at Breast Hight_INCHES : 43 | float64
HEIGHT_FEET : 42 | float64
INFESTATION_LEVEL : 15 | object
DIEBACK : 25 | object
PRIORITY_FOR_REMOVAL : 52 | object

In [3]:
df.head()

,ID,Data Set,GlobalID,CITY,HOST_LATIN_NAME,HOST_COMMON_NAME,REPRODUCTIVE_HOST,Diameter at Breast Hight_INCHES,HEIGHT_FEET,INFESTATION_LEVEL,DIEBACK,PRIORITY_FOR_REMOVAL,Sample Date,x,y
0,1,1,9f70155b-0869-4558-a797-99d6ce97c4f2,South El Monte,Platanus x hispanica,London plane,Y,14.0,30.0,Moderate,Moderate,Moderate,12/1/20,-118.0638211,34.046498
1,2,1,b83e919e-7168-4c78-909e-f81c991415d3,South El Monte,Platanus x hispanica,London plane,Y,23.0,120.0,Heavy,Low,Moderate to high,12/1/20,-118.0637685,34.046204
2,3,1,b59163fc-c6d7-4d00-bc26-a13d9a784792,South El Monte,Platanus x hispanica,London plane,Y,12.0,30.0,Low,Low,Low,12/1/20,-118.063848,34.045881
3,4,1,b466c05b-8610-4e9f-b7e1-73da09671d11,South El Monte,Platanus x hispanica,London plane,Y,19.0,55.0,Heavy,Moderate,Moderate to high,12/1/20,-118.0636258,34.046518
4,5,1,3d47b5a2-613b-4b1e-a7f1-1102600b32b1,South El Monte,Platanus x hispanica,London plane,Y,19.0,100.0,Severe,Heavy,Moderate to high,12/1/20,-118.0636605,34.046487

In [4]:
df.INFESTATION_LEVEL = df.INFESTATION_LEVEL.str.strip()

df.INFESTATION_LEVEL = df.INFESTATION_LEVEL.str.replace('.', '_')

C:\Users\Dev\AppData\Local\Temp\ipykernel_6280\2548648623.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.INFESTATION_LEVEL = df.INFESTATION_LEVEL.str.replace('.', '_')

In [11]:
folder_list = df['INFESTATION_LEVEL'].unique()
folder_list

array(['Moderate', 'Heavy', 'Low', 'Severe', nan, 'Severe_ Amplifier'],
      dtype=object)

In [41]:
folder_list
newlist = [x for x in folder_list if pd.isnull(x) == False]
print(newlist)

['Moderate', 'Heavy', 'Low', 'Severe', 'Severe_ Amplifier']

In [36]:
cwd = os.getcwd()
cwd

'C:\\Users\\topow\\Notebooks\\Create Sub Folders'

In [47]:
for i in newlist:
    print(i)
    create_file = cwd +"\\"+ i
    print(create_file)
    isdir = os.path.isdir(create_file) 
    print(isdir)
    if isdir == False:
        os.mkdir(create_file)
        print("The following folder was created: " + i  )
    else: 
        print(f'The directory is already created: ' + i )

Moderate
C:\Users\topow\Notebooks\Create Sub Folders\Moderate
True
The directory is already created: Moderate
Heavy
C:\Users\topow\Notebooks\Create Sub Folders\Heavy
True
The directory is already created: Heavy
Low
C:\Users\topow\Notebooks\Create Sub Folders\Low
True
The directory is already created: Low
Severe
C:\Users\topow\Notebooks\Create Sub Folders\Severe
True
The directory is already created: Severe
Severe_ Amplifier
C:\Users\topow\Notebooks\Create Sub Folders\Severe_ Amplifier
True
The directory is already created: Severe_ Amplifier

In [21]:
'''
File naming structure: LXSS_LLLL_PPPRRR_YYYYMMDD_yyyymmdd_CC_TX

Example:  LC08_L1GT_029030_20151209_20160131_01_RT

Where:

L = Landsat
X = Sensor (“C”=OLI/TIRS combined, “O”=OLI-only, “T”=TIRS-only, “E”=ETM+, “T”=“TM, “M”=MSS)
SS = Satellite (”07”=Landsat 7, “08”=Landsat 8)
LLL = Processing correction level (L1TP/L1GT/L1GS)
PPP = WRS path
RRR = WRS row
YYYYMMDD = Acquisition year, month, day
yyyymmdd - Processing year, month, day
CC = Collection number (01, 02, …)
TX = Collection category (“RT”=Real-Time, “T1”=Tier 1, “T2”=Tier 2)



Means: Landsat 8; OLI/TIRS combined; processing correction level L1GT; path 029; row 030; 
acquired December 9, 2015; processed January 31, 2016; Collection 1; Real-Time

'''

False

In [12]:
Dates = df['Sample Date'].unique()
Dates

array(['12/1/20', '12/8/20', '12/9/20', '12/10/20', '12/15/20',
       '12/17/20', '12/21/20', '12/30/20', '1/4/21', '1/5/21', '1/6/21',
       '1/11/21', '1/12/21', '1/14/21', '1/19/21', '1/20/21', '1/25/21',
       '1/26/21', '2/18/21', '3/4/21', '3/17/21', '3/18/21', '3/22/21',
       '3/23/21', '4/5/21', '4/14/21', '4/19/21', '4/20/21', '5/5/21',
       '7/12/21', '7/13/21', '7/19/21', '7/20/21', '7/27/21', '7/28/21',
       '8/2/21', '8/3/21', '8/9/21', '8/16/21', '8/19/21', '9/20/21',
       '9/21/21', '9/27/21', '9/29/21', '10/13/21', '10/20/21',
       '10/27/21', '12/14/21', '6/17/21', '7/26/21'], dtype=object)

In [13]:

current_date = date.today().isoformat()   
days_before = (date.today()-timedelta(days=30)).isoformat()
days_after = (date.today()+timedelta(days=30)).isoformat()

In [14]:
print("\nCurrent Date: ",current_date)
print("30 days before current date: ",days_before)
print("30 days after current date : ",days_after)

Current Date:  2022-04-12
30 days before current date:  2022-03-13
30 days after current date :  2022-05-12

In [15]:
Dates[0]

'12/1/20'

In [81]:


beg = Dates[0][:5]
year = "20"
end = Dates[0][5:]

date = beg + year + end
date

'12/1/2020'

In [73]:
s1 = "Pyton" 
s1 = ''.join((s1[:3],'h',s1[3:])) #Character at specific pos
s1

'Python'

In [57]:
s1 = "Pyt%son" %'h' #Character at specific pos

In [60]:
type(Dates)

numpy.ndarray

In [59]:
for i in Dates:
    print(i)

12/1/20
12/8/20
12/9/20
12/10/20
12/15/20
12/17/20
12/21/20
12/30/20
1/4/21
1/5/21
1/6/21
1/11/21
nan
1/12/21
1/14/21
1/19/21
1/20/21
1/25/21
1/26/21
2/18/21
3/4/21
3/17/21
3/18/21
3/22/21
3/23/21
4/5/21
4/14/21
4/19/21
4/20/21
5/5/21
7/12/21
7/13/21
7/19/21
7/20/21
7/27/21
7/28/21
8/2/21
8/3/21
8/9/21
8/16/21
8/19/21
9/20/21
9/21/21
9/27/21
9/29/21
10/13/21
10/20/21
10/27/21
12/14/21
6/17/21
7/26/21